html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
  border: 0px solid black;
  margin-right:auto;
  margin-left:auto;
}

p{
  margin-right:auto;
  margin-left:auto;
}

.i{

  position:absolute;
  z-index: 2;
  width: 3cm;
  top:0px;
  margin-top:275px;
  margin-left:10px;


}
